<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/register.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    {{>navbar}}
    <div class="loginForms">
    <div class="loginForm">
        <form class="loginFormContainer" action="/" method="POST">
        <div class="loginFormField loginText">
        <h1>Login</h1>
        </div>
        <div class="loginFormField">
        <input class="formInputs" type="email" name="email" placeholder="Enter Email" required>
        </div>
        <div class="loginFormField">
        <input class="formInputs" type="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="loginFormField">
        <input class="registerBtn" type="submit" value="Login">
        </div>
        </form>
    </div>
    <p class="registerLink">New to Notify? <a href="/register">Register</a></p>
    </div>
    {{>footer}}
</body>
</html>