<div id="contact">
    <div class="about">
      <div class="about-name">
        <h1>NOTIFY</h1>
      </div>
      <div class="about-info">
        <div class="aboutUs">
          <h2>About Us</h2>
          <p>Notify is a website to help you create</p>
          <p>Notes anytime anywhere free of cost.</p>
        </div>
        <div class="contactUs">
          <h2>Contact Us</h2>
          <div class="contactOptions">
          <img src="Images/instagram.png" />
          <img src="Images/facebook.png" />
          <img src="Images/email.png" />
          <img src="Images/linkedin.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="line">
      <p>Notes App &copy; 2021. All Rights Reserved.</p>
    </div>
  </div>